fastapi
uvicorn
sqlalchemy
psycopg2-binary
python-jose
passlib[bcrypt]
pydantic
dotenv
pydantic[email]
email-validator
python-multipart
boto3
scikit-learn
pandas
numpy
matplotlib
seaborn
lightgbm
xgboost
tqdm
requests
python-dotenv
